build/
build-clang/
.vscode/
doc/html/
doc/latex/
doc/textput.log
*.log
*.pdf
doc/Definitions/main.aux
doc/Definitions/main.pyg
*.dot
*.tex
.idea
thirdparty/vcpkg/
cmake-build-*
tags_*.txt
results.json
*.out